$font-main: "Montserrat", sans-serif;
$font-logo: "Pacifico", cursive;
$primary-color: #f68310;
$secondary-color: #059669;
$bg-main: #f4f2ee;
$sidebar-bg: #f9fafb;
$text-dark: #212529;
$sidebar-width: 280px;
$transition: 0.3s ease-in-out;
